*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --content-primary: #FFFFFF;
  --content-secondary: #98959D;
  --content-tertiary: #666666;
  --content-brand: #9282FA;

  --bg-primary: #14151D;
  --bg-secondary: #2E2C30;
  --bg-tertiary: #23242C;
  --bg-brand: #9282FA;
  --bg-highlights: #BDB4FA;

  --border-primary: #3E3C41;
  --border-secondary: #86818C;
  --border-brand: #9282FA;
  --border-divisor: #353339;

  --acent-blue: #027DF0;
  --acent-blue-light: #16487A;
  --acent-yellow: #F0DC02;
  --acent-yellow-light: #756E1B;
  --acent-orange: #F09102;
  --acent-orange-light: #75501B;
}

body {
  background-color: var(--bg-primary);
}